@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
}

h3 {
  font-size: 15px;
  color: #4d4f62;
  font-weight: 600;
  margin-bottom: 4px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 8px 7px rgba(77, 79, 98, 0.1);
  min-height: 200px;
}

.card p {
  font-size: 8px;
  color: #a0a1ac;
}

.cyan {
  border-top: 4px solid hsl(180, 62%, 55%);
  grid-column: 1;
  grid-row: 2 / 4;
}
.red {
  border-top: 4px solid hsl(0, 78%, 62%);
  grid-column: 2;
  grid-row: 1 / 3;
}
.yel {
  border-top: 4px solid hsl(34, 97%, 64%);
  grid-column: 2;
  grid-row: 3 / 5;
}
.blue {
  border-top: 4px solid hsl(212, 86%, 64%);
  grid-column: 3;
  grid-row: 2 / 4;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 170px;
    gap: 50px;
  }

  .red,
  .yel,
  .cyan,
  .blue {
    grid-column: auto;
    grid-row: auto;
    transform: none;
  }
}
